body {
  background-color: black;
}

.viewport {
  position: relative;
  height: 768px;
  width: 1024px;
  margin: 10px auto;
  background-color: white;
  overflow: hidden;
}

.viewport div#all {
  position: absolute;
  left: 256px;
  top: 0px;
  -webkit-transition: 0s all;
}

canvas#sprites {
  position: absolute;
  z-index: 2;
}

canvas#map {
  position: absolute;
  z-index: 1;
}

.viewport canvas#sidebar {
  left: 0px;
}
