body {
  background-color: black;
}

.viewport {
  position: relative;
  height: 768px;
  width: 1024px;
  margin: 10px auto;
  background-color: white;
}

.viewport canvas#background {
  position: absolute;
  left: 256px;
  width: 768px;
}